table{
    border-collapse: collapse;
    width: 20%;
    text-align: left;
}
td,th{
    border: 1px solid black;
    padding: 8px;
}
.class1{
    color: blue;
}
.class2{

    color: rgb(226, 134, 43);
}
body{
    background-color: yellow;
    margin: 50px 500px 80px 500px;
    border: 50px solid black;
    padding: 20px;


}
